#main-div {
    background-color: blanchedalmond;
}

.text {
    font-family: "Courier New", "Lucida Console", monospace;
}

#main-image {
    height: auto;
    width: 300px;
}

#chili-img {
    height: auto;
    width: 350px;
}

.recipe-imgs {
    height: auto;
    width: 350px;
}