#main-div {
    background-color: blanchedalmond;
}

#main-heading,
#our-favorites,
.recipe-links {
    font-family: "Courier New", "Lucida Console", monospace;
}

#main-image {
    height: auto;
    width: 300px;
}